<div class="row">
  <div class="col-8">
    <span class="d-flex flex-column gap-3 mb-3">
      <label for="user-name"> User name</label>
      <input
        class="form-control"
        type="text"
        id="user-name"
        [(ngModel)]="username"
      />
    </span>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!username"
      (click)="username = ''"
    >
      Clear input
    </button>
  </div>
  <div class="col-4">
    <p>Input result: <span [innerText]="username"></span></p>
  </div>
</div>
