<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        class="list-group-item"
        [queryParams]="{ allowEdit: server.id === 3 }"
        fragment="Loading"
        *ngFor="let server of servers"
        [routerLink]="['/servers', server.id]"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <p>On Reload: relativeTo</p>
    <button type="button" class="btn btn-primary" (click)="onReload()">
      Got to Users page
    </button>
  </div>
</div>
